.hourlyForecast {
  background: var(--bg-card);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: var(--border-radius);
  padding: 24px;
  box-shadow: var(--shadow);
}

.grid {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  overflow: auto;
  gap: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  scroll-behavior: smooth;

  /* Crée un masque de visibilité : 
      Le dégradé définit quelles zones sont opaques (black) et lesquelles sont transparentes.
      Ici, on crée un fondu transparent aux extrémités (0-5% et 95-100%) pour adoucir la coupure visuelle lors du scroll.
  */
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 12px 8px;
  background: transparent;
  border: none;
  text-align: center;
  flex: 0 0 70px;
}

/* La température */
.hours span:nth-child(3) {
  font-weight: 700;
}

/* La probabilité de précipitations */
.hours span:last-child {
  font-size: 0.8rem;
  color: var(--text-secondary);
}

.hour {
    color: var(--text-secondary);
}

.emoji {
    font-size: 1.5rem;
}

@media (max-width: 600px) {
  .hourlyForecast {
    padding-left: 15px;
    padding-right: 15px;
  }

  .grid {
    padding-left: 5px;
    padding-right: 5px;
  }
}