.card {
    background: var(--bg-card);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
}

.courbeContainer {
    margin: 0 auto;
    width: 80%;
}

.courbeFond {
    stroke: white;
    stroke-opacity: 0.3;
    stroke-width: 2px;
}

.courbePassee {
    stroke: gold;
    stroke-dasharray: 210;
    stroke-dashoffset: var(--offset);
}

.courbeContainer line {
    stroke: white;
    stroke-opacity: 0.1;
}

.courbeContainer circle {
    fill: gold;
}

.hourContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%; 
}

.sun {
    display:flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.sunTitle {
    color: var(--text-secondary);
    font-size: 1.1rem;
}

.sunHour {
    color: var(--text-primary);
    font-weight: 700;
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    .hourContainer {
        padding: 0 5%;
    }

    .sunTitle {
        font-size: 0.8rem;
    }

    .sunHour {
        font-size: 0.9rem;
    }
}