.appContainer {
  position: relative;
  min-height: 100vh;
  width: 100%;
  
}

/* L'image de fond qui s'affiche en fonction de la météo */
.backgroundLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  object-fit: cover;
  z-index: -1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  will-change: opacity;
  pointer-events: none;
  backface-visibility: hidden;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}